<% include ../partials/header %>  
<div class="container">
<header class="jumbotron">
    <div class="contianer">
        <h1>Well come to Willong khullen</h1>
        <p>This will be Willong khullen page soon</p>
        <p>
            <a class="btn btn-primary btn-large" href="/campgrounds/new"> Add new photo</a>
        </p>
    </div>   
</header>
<div class="row text-center" style="display:flex; flex-wrap:wrap;">
  <% camp.forEach(function(campground){%>
    <div class="col-md-3 col-lg-6">
      <div class="thumbnail">
        <img src="<%= campground.image %>">
  <div class="caption">
    <h2> <%= campground.name %> </h2>
</div>
  <p> 
       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
  </p>
  </div>
    </div>
  <% }) %> 
  </div>
</div>

<% include ../partials/footer %>